# REQUIRED
BOT_TOKEN=PUT_YOUR_BOTFATHER_TOKEN_HERE
OWNER_ID=8573174269

# Web / Railway
PORT=3000
MINI_APP_URL=https://bir54phb-production.up.railway.app

# Branding
BOT_NAME=MAYKI UC BOT 24/7 VIP
BOT_USERNAME=@Mayki_UC_bot
SUPPORT_URL=https://t.me/Mayki_UC_manager
CHANNEL_URL=https://t.me/Mayki_uc_shop

# Optional security
ALLOW_POLLING=true
